# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# Database
app.db
*.sqlite3
instance/

# Environment Variables
.env
.flaskenv

# Uploads (user profile images)
app/static/uploads/

# Mac junk
.DS_Store

# Windows junk
Thumbs.db