<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} MatchUp</title> 

    <!-- Bootstrap link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/style.css">

    
</head>

<body>

<!-- NAVIGATIONBAR -->
<nav class="navbar  px-4">
    <a class="navbar-brand" href="/">MatchUp</a>

    <div class="ms-auto"> 
        <a class="nav-link d-inline" href="/matching">Match</a>
        <a class="nav-link d-inline" href="/events">Events</a>
        <a class="nav-link d-inline" href="/friends">Friends</a>
        <a class="nav-link d-inline" href="/profile">Profile</a>
    </div>
</nav>

<!--CONTENTS -->
<div class="container mt-4">
    {{ contents }}
</div>

<!--FOOTER-->
<footer class="text-center mt-5 mb-3">
    <p>© 2026 MatchUp</p>
</footer>

</body>
</html>