{% extends "base.html" %}

{% block content %}

<div class="py-4">
    <h1>Find Your <span class="text-success">Match</span></h1>
</div>

<div class="container mt-4">

  <!-- Player cards -->
  <div class="row g-3">
    {% for player in players %}
    <div class="col-12 col-md-6 col-lg-4 player-card-container">
      <div class="card h-100 border-success shadow-sm" style="background: var(--background-nav);">
        <div class="card-body text-center p-4">
          <h5 class="card-title">{{ player.username }}</h5>
          <p class="card-text text-white">{{ player.location }}</p>
          <p class="card-text text-white">{{ player.sport }}</p>
          <div class="mt-3 row g-2">
            <button onclick = "handleConnect(this)" class="btn btn-sm btn-outline-success w-100">Connect</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
<script src="{{ url_for('static', filename='js/matching.js') }}"></script>
{% endblock %}
